{% if not article.isCommentingDisabled %}

    <div id="disqus_thread"></div>

    <script type="text/javascript">
        var disqus_config = function () {
            {% if is_web_user(app.user) %}
                this.page.remote_auth_s3 = '{{ disqus_get_remote_auth_s3(app.user) }}';
                this.page.api_key = '{{ disqus_public_key }}';
            {% endif %}
            this.page.url = '{{ app.request.uri }}';
            this.page.identifier = '{{ disqus_forum~'-'~article.remoteId }}';
            this.page.title = '{{ article.headline }}';
        };

        (function() {
            var d = document, s = d.createElement('script');
            s.src = '{{ disqus_base_uri }}embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>

    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
